
.main{
	
}

.categories{
	width: 97.5vw;
	height: 118vh;
	display: flex;
	margin-top: 3vw;
	flex-wrap: wrap;
	justify-content: center;
	
	
	
	
	
}

.categories .item1{

	width: 27%;
	height: 57vh;
	margin-left: 2vw;
	margin-right: 2vw;

	text-align: left;
	padding-top: 2vw;
	padding-left: 2vw;
	padding-right: 2vw;
	border-radius: 1vw;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */



}






#explore_data_by_categories {
	
	font-size: 1.7vw;
	text-align: left;
	color:#2B308B;
	font-weight: 500;
	text-align: center;

}

#find_the_right_data_for_your_business__choose_from_the_given_data_categories {
	

	font-size: 0.9vw;
	font-weight: bold;
	text-align: left;
	color:#808080;
	margin-top: 0.8vw;
}

.heading{

	margin-top: 5vw;

	display: flex;
	justify-content: center;
	align-items: center;
}

#title___ {
	
	font-size: 1.7vw;
	font-weight: bold;
	text-align: left;
	line-height:3vw;
	color:#000080;
	
	
}

#subtitle___ {
	
	font-size: 0.9vw;
	line-height: 1vw;
	
	color:#16192C;
	


}

#text___ {
	
	
	
	font-size: 1.1vw;
	font-weight: 500;
	
	
	
	color:#808080;
	margin-top: 2vw;
	
}


#perfect_runs_long_co {

	font-size: 1vw;
	text-align: left;
	line-height: 2vw;
	margin-top: -3.8727558390299px;
	height: 104.89681560516px;
	color:#808080;
}

#bottomText{

	height: 10vh;
	 text-align: left;
	 margin-top: 15px;

	



}


#viewDataBtn{

	margin-top: 1.2vw;

	display: flex;
	justify-content: flex-end;
	

	
}


#viewDataBtn1{

	border-radius: 0.4vw;
	background-color: #0DEDA7;
	width: 7vw;
	height: 4.5vh;
	border: none;





}

.indiaFlag{
	padding-right: 7px;
}



.boldShort{
	padding-right: 1vw; 
	color: black;
}

.boldShort1{
	padding-right: 1.8vw; 
	color: black;

}
.boldShort2{
	padding-right: 1.4vw; 
	color: black;
}




.viewBtn{

	font-size: 15px;
	 color: white;
	  margin: auto;
}





@media (max-width: 768px) {

	

	.categories{


		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap:nowrap;
		width: 100%; 
		border: 1px solid black;
		padding-top: 30vw;
		

	}
	.item1{

		width: 100%;
		height: 3vh;
		border: 1px solid black;


		
	}

	#viewDataBtn1{

		width: 40%;
	}

	#title___ {

		font-size: 50%;
	}








}