
.main{
	
}

.categories{
	width: 97.5vw;
	height: 118vh;
	display: flex;
	margin-top: 3vw;
	flex-wrap: wrap;
	justify-content: center;
	
	
	
	
	
}

.categories .item1{

	width: 27%;
	height: 54vh;
	margin-left: 20px;
	margin-right: 20px;

	text-align: left;
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 40px;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */



}




#explore_data_by_categories {
	
	font-size: 1.7vw;
	text-align: left;
	color:#2B308B;
	font-weight: 500;
}

#find_the_right_data_for_your_business__choose_from_the_given_data_categories {
	

	font-size: 0.9vw;
	font-weight: bold;
	text-align: left;
	color:#808080;
	margin-top: 10px;
}

.heading{

	margin-top: 5vw;

	display: flex;
	justify-content: center;
	align-items: center;
}

#title___ {
	
	font-size: 1.7vw;
	font-weight: bold;
	line-height: 35.4px;
	text-align: left;
	line-height: 32.645453453064px;
	color:#000080;
	
	
}

#subtitle___ {
	
	font-size: 13.94px;
	line-height: 18.394413375854px;
	
	line-height: 18.961567547321px;
	color:#16192C;
	


}

#text___ {
	
	
	
	font-size: 16.27px;
	font-weight: bold;
	
	
	
	height: 160.89681560516px;
	color:#808080;
	margin-top: 20px;
	
}


#perfect_runs_long_co {

	font-size: 1vw;
	text-align: left;
	line-height: 27.88826751709px;
	margin-top: -3.8727558390299px;
	height: 104.89681560516px;
	color:#808080;
}

.bottomText{

	



}


#viewDataBtn{

	margin-top: 40px;

	display: flex;
	justify-content: flex-end;
	

	
}


#viewDataBtn1{

	border-radius: 5px;
	background-color: #0DEDA7;
	width: 7vw;
	height: 4.5vh;
	border: none;





}


@media (max-width: 768px) {

	

	.categories{


		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		width: 300vw;
		height: 90%;
		margin: auto;

	}

	#viewDataBtn1{

		width: 40%;
	}

	#title___ {

		font-size: 5vw;
	}








}