

.footerParentDiv{

  display:flex;
  
 
  
 








}

#contact_directory1 {
	
	
	font-size: 2vw;
	font-weight: 600;
    color:#2B308B;
    
   
   
    
}

#lorem_ipsum_dolor_sit {
	

	font-size: 1.5vw;
	
	color:#5A81FA;
    text-align: left;
}

.footerItem1{


    width: 20vw;
    height: 30vh;
    
}

.footerItem2{

    width:80vw;
    

    display: flex;

    text-align: left;
    justify-content: flex-end;
   margin-right: 10px;
   gap: 8vw

  
    



}
#__p__contact {

	font-size: 23px;
	
	color:#5A81FA;
}


.socialIcons{

    margin: 20px;

    height: 20vh;
    display: flex;
    justify-content: center;
    gap:5vw;
    align-items: flex-end;



    
}

.line {
    border-bottom: 3px solid #5A81FA; /* You can set the color to your preference */
  }


  @media (max-width: 767px) {
  

    .footerParentDiv{

        display: flex;
        flex-direction: column;
        justify-content: center;
       

    }
    .footerItem1{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:auto;
        width: 25vmax;

    }
    .footerItem2{

        
     display: flex;
     justify-content: center;
        margin:auto;
        margin-top: 30px;
        padding-left: 5px;
        padding-right: 5px;


    }




  }
  