


.headerMenu{

	color:#000080;
	font-size: 1.2vw;
    
    font-weight: 500;





}

#booFreeColor{

	color: white;
}



#signIn{

	color: #000080;
	font-size: 1.2vw;
	font-weight: 500;
	padding-left: 1vw;
	

}

.navBarRight{

	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 75%;
	height: 10vh;
	gap:3vw;
}

#signIn1{

	color: #000080;
}

.headerIcon{
	display: flex;
	justify-content: center;
	align-items: center;
}


#contactIcon{

	width: 3vw;
	height: 6vh;
	
}










#group_145 {

	width: 2.5vw;
	height: 5vh;
	
	
}

.iconLayout{
   
	display: flex;
    width: 97vw;
	height: 10vh;
   


}
#contact_directory {
	
	font-weight: 600;
	color:#2B308B;
	font-size: 2vw;
	width: 25%;
	height: 10vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap:1vw;


	

}

.headerText{
  

	
	
	color:#000080;
}

#book_a_free_demo {
	
	width: 147.5px;
	height: 27.5px;
	
	font-family: Poppins;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	color:#F8F9FD;
}

.bookButton{
    width: 10vw;
	height: 5vh;
    background-color:  #0DEDA7;

    border-radius: 1vw;
    display: grid;
    align-items: center;
    color:white;
    box-shadow: 0 0.3vw 1vw rgba(0, 0, 0, 0.2);
	margin-left: 5vw ;
    
}

#bg_frame_58253 {
	top: 0px;
	left: 0px;
	width: 48px;
	height: 48px;
	background:rgba(255,255,255,0);

}

#freeDemoText{

	font-size: 1vw;
}