.videoContentsMain {
  display: flex;
  width: 100%;
  height: 80vh;
}

.dataNote {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: space-evenly;
  align-items: flex-start;
}

.dataNote1 {
  width: 25%;

  height: 80%;

  border-radius: 15px;
  padding: 2vw;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.dataNote2 {
  width: 25%;

  height: 80%;

  border-radius: 15px;
  padding: 2vw;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dataNote3 {
  width: 25%;

  height: 80%;

  border-radius: 15px;
  padding: 2vw;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.videoPlayer {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Note {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#note1 {
  width: 80%;
  height: 80%;
  border: 1px solid;
  border-radius: 10px;
  background-color: #f0f3fc;
  border-color: #5a81fa;
}

#videoPlayerSize {
  width: 80%;
  border-radius: 10px;
}

#contact_directory_only_provides_premium_quality_contacts_from_trusted_sources_to_keep_our_database_accurate_and_up_to_date_ {
  font-size: 1.2vw;
  text-align: center;
  line-height: 1.8vw;

  height: 14.5vh;
  letter-spacing: 0.01vw;
  color: #000000;
  padding: 1vw;
  margin-top: 1vw;
  font-weight: 500;
}

#average_95__accuracy_for_data_points {
  font-size: 1.2vw;
  text-align: center;
  line-height: 32px;

  height: 122px;
  letter-spacing: 0.10000000149012px;
  color: #000000;
  padding: 15px;
  margin-top: 20px;
  font-weight: 500;
}

#note2 {
  text-align: left;

  margin-top: 1.5vw;
  padding-left: 3vw;
  line-height: 3;
  font-size: 1vw;
}

#noteBtn{

    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 3.5vw;
    
}




#noteBtnRes{
    border: none;
     outline: none;
     
     
       
}


#noteBtnImg{

    width: 10vw;
}











@media (max-width: 767px) {
  .videoContentsMain {
    margin-top: 30vw;
    display: flex;
    flex-direction: column;
    width: 160vw;

    padding: 20px;
  }

  .Note {
    margin-top: 30vw;

    width: 90vw;
  }

  .dataNote {
    display: flex;
    flex-direction: column;
  }
}

#data_inspired {
  font-size: 1.9vw;
  font-weight: bold;
  line-height: 2.5vw;
  text-align: left;
  color: #5a81fa;
  padding-top: 5vw;
  padding-left: 1vw;
  
}


#data_inspired2{ padding-left: 3vw;
    font-size: 1.9vw;
    font-weight: bold;
    line-height: 2.5vw;
    text-align: left;
    color: #5a81fa;
    padding-top: 5vw;
   }

#__p__lorem_ipsum_dolor_sit_amet_consectetur__mauris_tellus_risus_ac_sagittis_eu__lectus_sit_sodales_pulvinar_egestas__hendrerit_diam_mi_egestas_venenatis__blandit_curabitur_in_eu_sed_sit_sit_nullam_sem_ {
  font-size: 1.4vw;
  text-align: left;
  color: #696e82;
  padding-top: 5vw;
}

.dataNote2Padding {
    font-size: 1.4vw;
    text-align: left;
  color: #696e82;
  padding-top: 2vw;
}




.signContact {
  display: flex;
  background-color: #f0f3fc;

  width: 90%;
  height: 50vh;
  margin: auto;
}

.signContact1 {
  width: 50%;
  height: 50vh;
  text-align: left;
  padding-top: 2vw;
}

.signContact2 {
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2vw;
}

#contact_directory_bottom {
  font-size: 2vw;
  font-weight: bold;
  text-align: left;
  color: #000080;
  padding-left: 3vw;
}

#signUp {
  font-size: 1.5vw;
  font-weight: bold;
  text-align: left;
  color: #000080;
}

#lorem_ipsum_dolor_sit_amet__consectetur_adipiscing_elit__nunc_vulputate_libero_et_velit_interdum__ac_aliquet_odio_mattis_ {
  font-size: 1.5vw;
  text-align: left;

  margin-top: 3vw;

  color: #000080;
  padding-right: 15vw;
  padding-left: 3vw;
}

.twoBottomBtn {
  display: flex;
  padding-left: 3vw;
  padding-top: 3vw;
  gap: 4vw;
}

.bookButton1 {
  width: 10vw;
  height: 5vh;
  border-radius: 1vw;
  background-color: #0deda7;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.3vw 1vw rgba(0, 0, 0, 0.2);
  font-size: 1vw;
}

#subframe1 {
  align-self: flex-start;
}

#subframe2 {
  align-self: center;
}

#subframe3 {
  align-self: flex-end;
}
